.hidden {
	opacity: 0;
}

/* Card */
.card {
	background: linear-gradient(135deg, #262626 0%, rgba(72, 72, 72, 0) 100%);
	border-radius: 25px;
	color: white;
	display: flex;
	flex-direction: row;
	font-size: 14.5px;
	font-weight: 600;
	padding: 35px;
	transition: 300ms ease-out;
}

.card-hover:hover {
	background: rgb(219, 219, 219);
	transition: 300ms ease-out;
}

/* Texts */
.card-hover:hover .white {
	color: black;
	transition: 300ms ease-out;
}

/* Images */
.card-hover:hover .svg {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	transition: 300ms ease-out;
}

/* Embedded card */
.card .card-2 {
	background: linear-gradient(135deg, #383838 0%, rgba(72, 72, 72, 0) 100%);
}

.card-hover:hover .card-2 {
	background: transparent;
}

/* Animations */
.fade-in {
	opacity: 0;
	-webkit-animation: fade-in-anim 1s forwards;
	animation: fade-in-anim 1s forwards;
}

@-webkit-keyframes fade-in-anim {
	from {
		opacity: 0;
		scale: 80%;
		translate: 0px 50px;
	}
	to {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
		scale: 100%;
		translate: 0px 0px;
	}
}

@keyframes fade-in-anim {
	from {
		opacity: 0;
		scale: 80%;
		translate: 0px 50px;
	}
	to {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
		scale: 100%;
		translate: 0px 0px;
	}
}
